<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;" class="ion-padding animated slideInDown">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About.</ion-title>
    </ion-toolbar>
    
  </ion-header>

  <h4>This apps created by <span style="font-weight: bold;">Muhammad Reyhan Ghozian.</span> For test only.</h4>
  <h5>Email : <span style="font-weight: bold ;color: blue;"><u>reyhanghozian@gmail.com</u></span></h5>
  <h5>Phone : <span style="font-weight: bold;">0859- 5916-0607</span></h5>

</ion-content>
