<!--
  Generated template for the SplashscreenPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

  



<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb animated fadeIn ion-padding" style="text-align: center;">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="../../assets/social.gif">
    <h2 class="animated slideInRight">Social Dummy Data.</h2>
    <h5 class="animated bounceIn">Apps created by Muhammad Reyhan Ghozian</h5>
    <p  class="animated bounceIn">Email : reyhanghozian@gmail.com</p>
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>


</div>





